<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='js/login.js') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Register</title>
</head>
<body>
  <div class="wrap">
    <div class="login">
        <h2>Register</h2>
        <div class="login_sns">
        </div>
        <form action="http://192.168.55.138:5000/sign-up" method="post">
        <div class="login_id">
            <h4>ID</h4>
            <input type="text" name="id" id="" placeholder="ID">
        </div>
        <div class="login_pw">
            <h4>Password</h4>
            <input type="password" name="pw" id="" placeholder="Password">
        </div>
        <div class="login_id">
          <h4>NickName</h4>
            <input type="text" name="name" id="" placeholder="NickName">
        </div>
        <div class="login_etc">
            <div class="checkbox">
            </div>
            <div class="forgot_pw">
        </div>
      </div>
        <div class="submit">
            <input type="submit" value="register">
        </div>
      </form>
    </div>
</div>

  
  

  <script src="login.js"></script>
</body>
</html>